<div class="connexion-container">

    <!-- Formulaire de connexion -->
    <form 
        [formGroup]="loginForm" 
        class="connexion-form" 
        (submit)="connexion()"
    >
        <!-- Logo de l'application -->
        <img src="../../assets/images/logo_MixAI_comp.png" alt="" class="logo">

        <!-- Titre du formulaire -->
        <h3>Sign in</h3>

        <!-- Champs du formulaire avec les titres alignés à droite -->
        <div class="input-group">
            <h3 class="input-name">Email</h3>
            <input 
                [ngClass]="{ invalid: isInvalidField('email') }" 
                formControlName="email" 
                type="email" 
            />
        </div>

        <div class="input-group">
            <h3 class="input-name">Password</h3>
            <input 
                [ngClass]="{ invalid: isInvalidField('password') }" 
                formControlName="password" 
                type="password" 
            />
        </div>

        <!-- Bouton de connexion -->
        <button type="submit" class="btn-1">Sign in with password</button>

        <!-- Phrase avec lien pour s'inscrire -->
        <p class="signup-text">
            Don't have an account? <a href="/signup">Sign up</a>
        </p>
    </form>
</div>