@if (updateSuccess) {
  <app-alert
    [title]="'Registration'"
    [message]="'Profile updated successfully'"
  ></app-alert>
}

<!-- Création d'une page de profil utilisateur -->
<div class="main-container">
  <div class="profile-container">
    <div class="profile-picture">
      @if (user) {
        <h1>{{ user.firstName[0] }}{{ user.lastName[0] }}</h1>
      }
    </div>

    <h1>My profile</h1>

    <form [formGroup]="profileForm" class="profile-form">
      <!-- General profile infos -->
      <div class="general-input-group">
        <!-- First Name -->
        <div class="div-general-input-group">
          <h3 class="input-name">First name</h3>
          <input id="firstName" formControlName="firstName" type="text" class="profile-input"/>
        </div>

        <!-- Last Name -->
        <div class="div-general-input-group">
          <h3 class="input-name">Last name</h3>
          <input id="lastName" formControlName="lastName" type="text" class="profile-input"/>
        </div>

        <!-- Email -->
        <div class="div-general-input-group">
          <h3 class="input-name">Email</h3>
          <input id="email" formControlName="email" type="text" class="profile-input"/>
        </div>
      </div>

      <!-- API Key -->
      <div class="input-group">
        <h3 class="input-name">Gemini API Key</h3>
        <input id="geminiAPIkey" formControlName="geminiAPIkey" type="text" class="api-input"/>
      </div>
    </form>

    <!-- Buttons -->
    <div class="row gap-1">
      <button (click)="backToChat()">Back to Chat</button>
      <button (click)="updateProfile()" class="btn-1">Update profile</button>
    </div>
  </div>
</div>